/* Resetting default styles and base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Root Variables for Colors and Fonts to help with consistency */
:root {
    --bg-color: white;
    --second-bg-color: #202020;
    --text-color: black;
    --second-color: #ccc;
    --main-color: #edd899;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

/* Body Styling */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Style navigation bar with Flexbox */


/* Header Navigation styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 15;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
}

/* Spanning effect */
span {
    color: var(--main-color);
}

/* Navigation List styling */
.nav-list {
    display: flex;
}

/* Navigation Links styling */
.nav-list a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all 0.45s ease;
}

/* Navigation Links hover and active states */
.nav-list a:hover {
    color: var(--main-color);
}

.nav-list a:active {
    color: var(--main-color);
}


/* TODO: Media query for vertical stacking on small screens */
/* TODO: Dark theme styles */
/* TODO: Highlight class for list items */
