/* Resetting default styles and base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Root Variables for Colors and Fonts to help with consistency */
:root {
    --bg-color: white;
    --second-bg-color: #202020;
    --text-color: black;
    --second-color: #ccc;
    --main-color: #edd899;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

/* Body Styling */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Style navigation bar with Flexbox */


/* TODO: Media query for vertical stacking on small screens */
/* TODO: Dark theme styles */
/* TODO: Highlight class for list items */
